@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles for the event card */
.event-card {
  display: flex;
  flex-direction: column; /* Stack date and details vertically */
  border-radius: 0.5rem; /* Rounded corners */
  overflow: hidden; /* Ensures the content does not spill out */
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

/* Style for the date section */
.event-card .date {
  background-color: #F48A34; /* Orange background */
  color: #FFFFFF; /* White text */
  text-align: center; /* Center the text */
  padding: 1rem; /* Padding inside the date box */
  flex-shrink: 0; /* Prevent shrinking */
  font-size: 1.25rem; /* Larger font size */
  font-weight: bold; /* Bold font */
}

/* Style for the details section */
.event-card .details {
  background-color: #FFFFFF; /* White background */
  padding: 1rem; /* Padding inside the details box */
  flex-grow: 1; /* Take up the remaining space */
}

/* Style for the "See details" button */
.event-card .toggle-details {
  color: #2563EB; /* Blue color */
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: underline; /* Underline text */
  margin-top: 0.5rem; /* Space above the button */
  align-self: flex-start; /* Align button to the start of the flex container */
}
.list .event-card {
    flex-direction: row; /* Keep the row direction even in list view */
    width: 100%; /* Full width for list view */
    margin-bottom: 2rem; /* Maintain spacing between cards */
  }

/* Hidden content style */
.hidden {
  display: none; /* Hide content */
}


.btn{
  margin-bottom: 5px;
  padding: 2px;
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
              0 4px 6px -4px rgba(0, 0, 0, 0.1); 
}