{
    "presets": [
      ["@babel/preset-env", {
        "targets": { "node": "current" },
        "modules": "auto" // Ensures Babel handles module transformation appropriately.
      }]
    ],
    "plugins": [
      ["@babel/plugin-transform-runtime", {
        "regenerator": true
      }]
    ]
  }
  