@import '../css/colors.css';
@import url("https://use.typekit.net/rgx6brd.css");


.slick-slide {
    transform: scale(0.8);
    transition: all 0.4s ease-in-out;
}

.slick-slide div{
    transition: all 0.4s ease-in-out;
}

.slick-current {
    transform: scale(1.05);
}

.slick-prev:before, .slick-next:before {
    color: var(--font-dim) !important;
    font-size: 30px; /* Adjust size as needed */
}

.slick-prev, .slick-next {
    height: 30px; /* Adjust size as needed */
    width: 30px; /* Adjust size as needed */
}

.slick-list {
    max-width: 95%; /* Adjust to create the desired gap */
    margin-left: auto;
    margin-right: auto;
}

.card{
    margin-top: 20%;
    margin-bottom: 20%;
    max-height: 450px;
    max-width: 275px;
    border-radius: 25px;
    background-color: #FFF;
    border-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1%;
    padding-left: 7%;
    padding-right: 7%;
    min-height: 350px;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-content {
    flex-grow: 1;
}

.image-content{
    position: relative;
    row-gap: 5px;
}

.card-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    object-fit: cover;
    border-radius: 50%;
}

.card-name {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    color: var(--font-dark);
}

.card-category {
    font-size: 14px;
    font-weight: 500;
    color: var(--font-dark);
}

.card-description {
    font-weight: 400;
    font-size: 14px;
    color: var(--font-dim);
    font-family: 'source-sans-pro', sans-serif;
}

.card-email {
    font-size: 14px;
    margin-top: auto;
    font-weight: 400;
    font-family: 'source-sans-pro', sans-serif;
}