
.slick-prev:before, .slick-next:before {
    color: black !important;
}

.slide-container{
    width: 80vw;
    padding: 40px 0;
    height: auto;
}

.slide-content{
    margin: 0 40px;
    border-radius: 25px;
}

.card{
    border-radius: 25px;
    background-color: #FFF;
    border-color: transparent;
    transition: 0.3s ease;
}

.card:hover {
    -webkit-transform: scale(1.1);
    -ms-tranform: scale(1.1);
    transform:scale(1.1);
    transition: 0.2s ease-in-out;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #F48A34;
    border-radius: 25px 25px 0 25px;
}

.overlay::before, .overlay::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -40px;
    height: 40px;
    width: 40px;
    background-color: #F48A34;
}

.overlay::after {
    border-radius: 0 25px 0 0;
    background-color: #FFF;
}

.card-image {
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #F48A34;
}

.card-name {
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.card-description {
    font-size: 14px;
    color: #707070;
    text-align: center;
}