
:root {
    --primary-color: #f48a34;
    --secondary-color: #FFBD58;   

    --primary-red: #E03757;
    --secondary-red: #e74c3c; 

    --background-color: #FFFFFF;
    --secondary-white: #f2f2f0; 

    --button-success: #339CF5;
    --button-success-active: #2A80CA;
   
    --font-dark: #161616;
    --font-dim: #7A7A7A;
    --font-light: #585858;
}




