:root {
    --primary-color: #f48a34;
    --background-color: #FFFFFF;
    --font-dark: #161616;
    --font-dim: #a2a2a2;
    --font-light: #747474;
    --button-success: #339CF5;
    --secondary-color: #FFBD58;
    --button-success-active: #2A80CA;
    --primary-red: #E03757;
    --secondary-red: #e74c3c;
    --secondary-white: #f2f2f0;
}