.criteria-subtitle {
    color: black;
    font-size: 1.6vw;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0.48px;
    word-wrap: break-word;
}

.criteria {
    display: flex;
    align-items: flex-start;
}

.criteria .criteria-subtitle {
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.criteria-description, .deadline-details {
    width: 100%;
    color: black;
    font-size: 1.3vw; 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 2; 
    letter-spacing: 0.01em; 
    word-wrap: break-word
}