@tailwind base;
@tailwind components;
@tailwind utilities;

.grid {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
  gap: 3rem; 
  align-items: stretch;
}

/* Base styles for the event card */
.event-card {
  display: flex;
  flex-direction: column; /* Stack date and details vertically */
  border-radius: 5px; /* Rounded corners */
  overflow: hidden; /* Ensures the content does not spill out */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: 'Inter', sans-serif;
}

/* Style for the date section */
.event-date-container {
  background-color: #F48A34; /* Orange background */
  color: #FFFFFF; /* White text */
  text-align: center; /* Center the text */
  padding: 1rem; /* Padding inside the date box */
  flex-shrink: 0; /* Prevent shrinking */
  font-size: 1.25rem; /* Larger font size */
  font-weight: 700; /* Bold font */
}

/* Style for the details section */
.event-details {
  background-color: #FFFFFF; /* White background */
  padding: 1rem; /* Padding inside the details box */
  flex-grow: 1; /* Take up the remaining space */
}

.event-title {
  font-size: 1rem;
  color:var(--font-dark);
  font-weight: 600;
  text-transform: capitalize;
}

.event-time {
  color: var(--font-light);
  font-weight: 400;
  font-size: 0.9rem;
}

.event-location {
  color: var(--button-success);
  font-size: 0.9rem;
  font-weight: 400;
}

.event-details h2 {
  margin-bottom: 1%;
}

.event-details p {
  margin-bottom: 4%;
}

/* Style for the "See details" button */
.toggle-details {
  cursor: pointer; /* Pointer cursor on hover */
  text-decoration: underline; /* Underline text */
  margin-top: 0.5rem; /* Space above the button */
  align-self: flex-start; /* Align button to the start of the flex container */
}
.event-list .event-card {
    flex-direction: row; /* Keep the row direction even in list view */
    width: 100%; /* Full width for list view */
    margin-bottom: 2rem; /* Maintain spacing between cards */
  }

/* Hidden content style */
.event-hidden {
  display: none; /* Hide content */
}

@keyframes fadeHighlight {
  0% { box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px }
  50% { box-shadow: rgba(0, 0, 255, 0.5) 0px 13px 27px -5px, rgba(0, 0, 255, 0.6) 0px 8px 16px -8px; }
  100% { box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px }
}

.highlight {            
  animation: fadeHighlight 1.5s forwards;
}