.footer {
    border-top: 1px solid #EEEEEE;
}

.footer-logo {
    height: 60px;
}

.sponsors-representatives {
    min-width: 100vw;
    border-bottom: 1px var(--primary-color) solid;
    padding-bottom: 3%;
    padding-top: 2%;
}

.sponsor-logo {
    height: 4rem;
}

.sefio-yellow-logo {
    height: 10rem;
}

.representative-logo {
    height: 3rem;
}