/* Styles for form container */
.form-container {
    max-width: 100%; /* Adjust as needed */
    margin: 0 auto;
    margin-top: 7%;
    margin-bottom: 5%;
  }
  
  /* Styles for form input boxes */
.form-box {
    margin-bottom: 5%;
}
  
.form-input {
    width: 100%;
    max-height: 56px;
    padding: 15px;
    background-color: #f2f2f0; /* Slightly transparent white background */
    border: none;
    border-radius: 5px;
    flex: 1 1 0;
    color: #383838;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.15px;
    word-wrap: break-word;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}
  
.form-input::placeholder {
    color: #aaa; /* Placeholder color */
}