@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url("https://use.typekit.net/rgx6brd.css");
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";

body {
    background-color: var(--background-color);
}

.media-scroller {
    --_spacer: var(--size-5);
    display: grid;
    gap: 5%;
    grid-auto-flow: column;
    grid-auto-columns: 25%;
    padding: 0 var(--_spacer) var(--_spacer);
    overflow-x: auto;
    overflow-y: auto;
    overscroll-behavior-inline: contain;
    scrollbar-width: thin;
    padding-top: 5%;
}

.media-element {
    display: grid;
    grid-template-rows: min-content;
    gap: var(--_spacer);
    padding: var(--_spacer);
    background: var(--surface-2);
    border-radius: var(--radius-2);
    box-shadow: var(--shadow-2);
    width: 275px;
}

.snaps-inline {
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
    scroll-snap-align: start;
}

.inter-font {
    font-family: 'Inter', sans-serif;
}

.content-item-section {
    max-width: 80vw;
    padding-bottom: 5%;
}

.section {
    max-width: 80vw;
    padding-top: 5%;
    padding-bottom: 5%;
}

.stroke {
    border-bottom: 1px solid #EEEEEE;
}

.content {
    max-width: 70%;
}

.title {
    max-width: 100%;
    flex: 1 1 0;
    color: black;
    font-size: 3.5vw; 
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    line-height: 1.1; 
    letter-spacing: 0.02em; 
    word-wrap: break-word;
}

.description {
    max-width: 100%;
    flex: 1 1 0;
    color: black;
    font-size: 1.2vw; 
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    line-height: 2; 
    letter-spacing: 0.01em; 
}

.section-image {
    max-width: 65%;
}

.contact-item {
    height: 350px;
    border-radius: 25px;
    background-color: #FFF;
    border-color: transparent;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 1%;
    width: 275px;
    padding: 2% 1% 2% 1%;
}

.image-content, .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.card-content {
    flex-grow: 1;
}

.card-content p:not(:nth-child(3)),
.card-content p:not(:last-child),
.card-content hr {
    margin-bottom: 4%;
}

.representative-divider {
    border: 1px solid var(--font-dim); 
    opacity: 100;
    border-radius: 100px;
    width: 10px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.image-content{
    position: relative;
    row-gap: 5%;
    margin-bottom: 4%;
}

.card-name {
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 0;
    color: var(--font-dark);
}

.card-role {
    font-weight: 400;
    font-size: 14px;
    color: var(--font-dim);
    font-family: 'source-sans-pro', sans-serif;
}

.card-institution {
    font-weight: 400;
    font-size: 14px;
    color: var(--font-dim);
    font-family: 'source-sans-pro', sans-serif;
    margin-bottom: 20%;
}

.card-email {
    font-size: 14px;
    margin-top: auto;
    font-weight: 400;
    font-family: 'source-sans-pro', sans-serif;
}

.contact-image {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: #FFF;
    padding: 3px;
}

.contact-image .card-img {
    object-fit: cover;
    border-radius: 50%;
}

.contact-details {
    font-family: 'Inter', sans-serif;
    
}

.text-primary {
    font-style: italic;
    color: #F48A34 !important;
}

.text-secondary {
    color: #F48A34 !important;
    text-decoration: none;
    cursor: pointer;
}

.service-button {
    width: fit-content;
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    transition: background-color 0.2s, box-shadow 0.2s;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; 
}

.service-button:hover {
    background-color: hsl(209, 90%, 61%); /* A slightly darker blue on hover/focus */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}  

.social-icon {
    height: 7vh;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}