@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font {
    font-family: 'Inter', sans-serif;
}

@media (max-width: 991px) {
    .navbar-nav.ms-auto .nav-item {
      max-width: fit-content;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
    }
  }

@media (min-width: 992px) {
    .login-button {
        margin-right: 1.5rem;
    }
    .nav-link {
        margin-right: 1.25rem;
    }
}

.underline {
    font-family: 'Inter', sans-serif !important;
    font-weight: 400 !important;
    color: var(--font-light) !important; 
}

.underline:hover, .underline:active {
  color: var(--primary-color) !important;
}

.underline.active {
  color: var(--primary-color) !important;
}

.navbar {
  border-bottom: 1px solid #EEEEEE;
  transition: top 0.3s;
  height: 70px;
  background-color: var(--background-color);
  z-index: 9000;
  width: 100%;
}

.application-button {
    font-family: 'Inter', sans-serif !important;
    background-color: #F48A34 !important; 
    color: white !important;
    border-color: #F48A34 !important;
    border-radius: 50cm !important;
    font-weight: 400 !important;
    letter-spacing: 0.01em !important; 
}

.login-button {
    font-family: 'Inter', sans-serif !important;
    color: #F48A34 !important;
    font-weight: 400;
    padding: 8px 23px !important;
    border-radius: 25px !important;
    border: 1px solid transparent !important;
}

.login-button:hover {
  border: 1px solid var(--primary-color) !important;
}

.sefio-logo-navbar {
  height: 40px;
}

#upBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    color: black;
    cursor: pointer;
    padding: 8px;
    border-radius: 4px;
  }
  
  #upBtn:hover {
    background-color: #f2f2f0;
  }

  .bx-chevron-up{
    font-size: 35px;
  }
